body
{
    background-color: rgb(14, 75, 125);
}

.container
{
    text-align: center;
    background: black;
    width: 450px;
    height: 350px;
    margin: auto;
    margin-top: 120px;
    border-radius: 20px;
    letter-spacing: 4px;
}

h1
{
    padding: 30px;
    font-family: sans-serif;
    color: yellow;
}

input
{
    width: 110px;
    padding: 8px;
    margin-right: 20px;
}

select
{
    width: 110px;
    padding: 8px;
    margin-right: 20px;
}

button
{
    padding: 10px;
    margin-top: 30px;
    border: none;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(0, 255, 0);
    color: black;
    cursor: pointer;
    font-weight: 550;
}

#result
{
    padding: 10px;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

#unit
{
    border-radius: 8px;
    font-weight: 600;
}

#num
{
    border-radius: 8px;
    font-weight: 300;
}